
.venv/*

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store

models/
models_npz/


# local debug files
experiments/01_bradley_terry_deberta_base/res
experiments/01_bradley_terry_deberta_base/res_smoke_test/*
